Utils/newsletter/n8nodes.json
{
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "e6178e31b92262345ecf2f0a17159959f45573502caa21e54a04b0826136c197"
  },
  "nodes": [
    {
      "parameters": {
        "options": {}
      },
      "id": "1e5b0143-001a-4c83-a4ec-1285df53785f",
      "name": "Summarization Chain",
      "type": "@n8n/n8n-nodes-langchain.chainSummarization",
      "typeVersion": 2,
      "position": [
        880,
        500
      ]
    },
    {
      "parameters": {},
      "id": "f9498113-08c1-4264-b09d-fcb425bb4120",
      "name": "When clicking \"Test workflow\"",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -160,
        860
      ]
    },
    {
      "parameters": {
        "url": "http://tpek.localhost/api",
        "options": {}
      },
      "id": "6ffd7d26-58f3-4ab7-a1f5-57df153d59d1",
      "name": "HTTP Request",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        -20,
        860
      ]
    },
    {
      "parameters": {
        "options": {
          "reset": false
        }
      },
      "id": "6c166670-3726-4a25-a18c-dfa3ee45deb2",
      "name": "Loop Over Items",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        660,
        880
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "63d91da2-7284-4e06-a532-9ade7035e033",
              "leftValue": "={{$json.startDate !== undefined && $json.startDate  !== null && $json.startDate  !== \"\" && !isNaN(Date.parse($json.startDate ))}}",
              "rightValue": "={{ $now.toISODate() }}",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            },
            {
              "id": "3e0efacd-804b-4688-a5de-fc03c7084afd",
              "leftValue": "={{ $json.startDate }}",
              "rightValue": "={{$now.plus({ weeks: 1 }).toISODate()}}",
              "operator": {
                "type": "dateTime",
                "operation": "before"
              }
            },
            {
              "id": "440497d7-0df0-4f67-b076-23b8373c79d7",
              "leftValue": "={{ $json.startDate }}",
              "rightValue": "={{ $now.toISODate() }}",
              "operator": {
                "type": "dateTime",
                "operation": "after"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "f8c4832d-acbb-440f-abad-599a357e240a",
      "name": "If",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        100,
        1060
      ]
    },
    {
      "parameters": {
        "fieldsToSummarize": {
          "values": [
            {
              "field": "eventID"
            },
            {
              "aggregation": "append",
              "field": "startDate"
            },
            {
              "aggregation": "=append",
              "field": "startTime"
            },
            {
              "aggregation": "append",
              "field": "endDate"
            },
            {
              "aggregation": "append",
              "field": "title"
            },
            {
              "aggregation": "append",
              "field": "location"
            },
            {
              "aggregation": "append",
              "field": "location"
            },
            {
              "aggregation": "append",
              "field": "description"
            },
            {
              "aggregation": "append",
              "field": "endTime"
            }
          ]
        },
        "fieldsToSplitBy": "email",
        "options": {}
      },
      "id": "87be649d-0b32-4a54-b7cd-d4e5a7a4f5b7",
      "name": "Summarize1",
      "type": "n8n-nodes-base.summarize",
      "typeVersion": 1,
      "position": [
        180,
        880
      ]
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "={\n  \"count\":{{ $json.count_eventID }},\n  \"email\": \"{{ $json.email }}\", \n   \"startDateLst\": {{ $json.appended_startDate }},\n \"endDateLst\":{{ $json.appended_endDate }},\n \"startTimeLst\":{{ $json.appended_startTime }},\n\"endTimeLst\":{{ $json.appended_endTime}},\n \"titleLst\":{{ $json.appended_title }},\n\"descriptionLst\": {{ $json.appended_description }},\n\"locationLst\": {{ $json.appended_location }}\n}",
        "include": "none",
        "options": {}
      },
      "id": "3963dca3-ce8e-47f1-8f5a-d005c04496c6",
      "name": "Edit Fields1",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.2,
      "position": [
        340,
        880
      ]
    },
    {
      "parameters": {
        "jsCode": "// Loop over input items and add a new field called 'myNewField' to the JSON of each one\nconst lst = []\nfor (const item of $input.all()) {\n  let events = []\n  for (let i = 0; i < item.json.count; i++) {\n    events.push({\n      title:item.json.titleLst[i],\n      description:item.json.descriptionLst[i],\n      location:item.json.locationLst[i],\n      startDate:item.json.startDateLst[i],\n      startTime:item.json.startTimeLst[i],\n      endDate:item.json.endDateLst[i],\n      endTime:item.json.endTimeLst[i]\n    })\n  }\n  lst.push({email:item.json.email, count:item.json.count, html:item.json.html, events})\n}\n\nreturn lst;"
      },
      "id": "48866124-5271-4a28-a50d-02d99650193e",
      "name": "regrouperUser1",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        500,
        880
      ]
    },
    {
      "parameters": {
        "amount": 10
      },
      "id": "d5651397-e618-4e3c-8df1-3db5e20dbc9d",
      "name": "Wait",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        1260,
        500
      ],
      "webhookId": "d4220957-04bb-4930-a6f7-b8f8aea84ad1"
    },
    {
      "parameters": {
        "fromEmail": "=contact@baldazi.com",
        "toEmail": "={{ $json.email }}",
        "subject": "Newletters",
        "html": "={{ $json.html }}",
        "options": {
          "appendAttribution": false
        }
      },
      "id": "1b7d7d53-12ae-45ed-ab9a-f169d3da253e",
      "name": "Send Email1",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [
        1480,
        1040
      ],
      "credentials": {
        "smtp": {
          "id": "qidy4uYU2MY3srwd",
          "name": "SMTP account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const lst = [];\nfor (const item of $input.all()) {\n  let eList = \"\";\n  for (let e of item.json.events) {\n    date = new Date(e.startDate);\n    eRow = item.json.html;\n    eRow = eRow.replace('[title]', e.title);\n    eRow = eRow.replace('[day]', date.getDay());\n    eRow = eRow.replace('[month]', date.toLocaleString('fr', { month: 'short' }));\n    eRow = eRow.replace('[sHour]', e.startTime.slice(0, 5));\n    eRow = eRow.replace('[eHour]', e.endTime.slice(0, 5));\n    eRow = eRow.replace('[location]', e.location);\n    eList += eRow;\n  }\n  \n  lst.push({email:item.json.email, count:item.json.count, eList});\n}\n\nreturn lst;\n"
      },
      "id": "93f893de-c0b2-4bef-9401-a95b3d99cea7",
      "name": "generateMsg1",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1100,
        880
      ]
    },
    {
      "parameters": {
        "html": "<tr>\n<td class=\"pb40\" style=\"padding-bottom:10px;\">\n<table width=\"100%\" border=\"0\" cellspacing=\"0\" cellpadding=\"0\">\n<tr>\n<td class=\"event-separator\" style=\"padding-bottom:10px; border-bottom:1px solid #ffffff;\">\n<table width=\"100%\" border=\"0\" cellspacing=\"0\" cellpadding=\"0\">\n<tr>\n<!-- Date de l'evenement -->\n<th width=\"60\" style=\"font-size:0pt; line-height:0pt; padding:0; margin:0; font-weight:normal; vertical-align:top;\">\n<table width=\"100%\" border=\"0\" cellspacing=\"0\" cellpadding=\"0\">\n<tr>\n<td class=\"date\" style=\"color:#000000; font-family:'Raleway', Arial,sans-serif; font-size:12px; line-height:16px; text-align:left; padding-bottom:6px;\">\n[month]\n</td>\n</tr>\n<tr>\n<td class=\"day\" style=\"color:#1e52bd; font-family:'Raleway', Arial,sans-serif; font-size:20px; line-height:25px; text-align:left; font-weight:bold;\">\n[day]\n</td>\n</tr>\n</table>\n</th>\n<!-- gap-->\n<th class=\"column-empty\" width=\"10\" style=\"font-size:0pt; line-height:0pt; padding:0; margin:0; font-weight:normal; direction:ltr;\">\n</th>\n\n<!-- Intitulé de l'evenement -->\n<th style=\"font-size:0pt; line-height:0pt; padding:0; margin:0; font-weight:normal; vertical-align:top;\">\n<table width=\"100%\" border=\"0\" cellspacing=\"0\" cellpadding=\"0\">\n<tr>\n<td class=\"h5-black black\" style=\"font-family:'Raleway', Arial,sans-serif; font-size:14px; line-height:18px; text-align:left; padding-bottom:10px; text-transform:uppercase; font-weight:bold; color:#000000;\">\n[title]\n</td>\n</tr>\n<tr>\n<td class=\"text black\"\nstyle=\"font-family:'Raleway', Arial,sans-serif; font-size:14px; line-height:18px; text-align:left; color:#000000;\">\n<span>[sHour] - [eHour]</span>\n<span style=\"font-weight:bold;\">[location]</span>\n</td>\n</tr>\n</table>\n</th>\n<!-- gap -->\n<th class=\"column-empty\"\nwidth=\"10\"\nstyle=\"font-size:0pt; line-height:0pt; padding:0; margin:0; font-weight:normal; direction:ltr;\">\n</th>\n<!-- boutton detail de l'evenement -->\n<th width=\"156\" style=\"font-size:0pt; line-height:0pt; padding:0; margin:0; font-weight:normal; vertical-align:top;\">\n<table width=\"100%\"\nborder=\"0\"\ncellspacing=\"0\"\ncellpadding=\"0\">\n<tr>\n<td align=\"right\">\n<table class=\"m-left\" border=\"0\" cellspacing=\"0\" cellpadding=\"0\">\n<tr>\n<td class=\"text-button button-blue\" style=\"font-family:'Kreon', Georgia, serif; font-size:14px; line-height:18px; text-align:center; padding:10px 30px; border-radius:20px; background:transparent; color:#1e52bd; border:1px solid #1e52bd;\">\n<a href=\"#\" target=\"_blank\" class=\"link-blue\" style=\"color:#1e52bd; text-decoration:none;\">\n<span class=\"link-blue\" style=\"color:#1e52bd; text-decoration:none;\">Voir plus</span>\n</a>\n</td>\n</tr>\n</table>\n</td>\n</tr>\n</table>\n</th>\n</tr>\n</table>\n</td>\n</tr>\n</table>\n</td>\n</tr>"
      },
      "id": "0d501a3f-a992-4e4a-a19c-b6bec8bcbe49",
      "name": "EventList",
      "type": "n8n-nodes-base.html",
      "typeVersion": 1.2,
      "position": [
        780,
        700
      ]
    },
    {
      "parameters": {
        "html": "<!DOCTYPE html\n        PUBLIC \"-//W3C//DTD XHTML 1.0 Transitional//EN\" \"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd\">\n<html xmlns=\"http://www.w3.org/1999/xhtml\" lang=\"fr\">\n\n<head>\n    <!--[if gte mso 9]>\n    <xml>\n        <o:OfficeDocumentSettings>\n            <o:AllowPNG/>\n            <o:PixelsPerInch>96</o:PixelsPerInch>\n        </o:OfficeDocumentSettings>\n    </xml>\n    <![endif]-->\n    <meta http-equiv=\"Content-type\" content=\"text/html; charset=utf-8\"/>\n    <meta name=\"viewport\" content=\"width=device-width, initial-scale=1, maximum-scale=1\"/>\n    <meta http-equiv=\"X-UA-Compatible\" content=\"IE=edge\"/>\n    <meta name=\"format-detection\" content=\"date=no\"/>\n    <meta name=\"format-detection\" content=\"address=no\"/>\n    <meta name=\"format-detection\" content=\"telephone=no\"/>\n    <meta name=\"x-apple-disable-message-reformatting\"/>\n    <!--[if !mso]><!-->\n    <link\n            href=\"https://fonts.googleapis.com/css?family=Kreon:400,700|Playfair+Display:400,400i,700,700i|Raleway:400,400i,700,700i|Roboto:400,400i,700,700i\"\n            rel=\"stylesheet\"/>\n    <!--<![endif]-->\n    <title>Email Template</title>\n    <!--[if gte mso 9]>\n    <style type=\"text/css\" media=\"all\">\n        sup {\n            font-size: 100% !important;\n        }\n    </style>\n    <![endif]-->\n\n\n    <style type=\"text/css\" media=\"screen\">\n        /* Linked Styles */\n        body {\n            padding: 0 !important;\n            margin: 0 !important;\n            display: block !important;\n            min-width: 100% !important;\n            width: 100% !important;\n            background: #1e52bd;\n            -webkit-text-size-adjust: none\n        }\n\n        a {\n            color: #000001;\n            text-decoration: none\n        }\n\n        p {\n            padding: 0 !important;\n            margin: 0 !important\n        }\n\n        img {\n            -ms-interpolation-mode: bicubic;\n            /* Allow smoother rendering of resized image in Internet Explorer */\n        }\n\n        .text-footer2 a {\n            color: #ffffff;\n        }\n\n        /* Mobile styles */\n        @media only screen and (max-device-width: 480px), only screen and (max-width: 480px) {\n            .mobile-shell {\n                width: 99% !important;\n                min-width: 99% !important;\n            }\n\n            .m-left {\n                text-align: left !important;\n                margin-right: auto !important;\n            }\n\n            .center {\n                margin: 0 auto !important;\n            }\n\n            .td {\n                width: 100% !important;\n                min-width: 100% !important;\n            }\n\n            .p0-15 {\n                padding: 0 15px !important;\n            }\n\n            .p30-15 {\n                padding: 30px 15px !important;\n            }\n\n            .p30-15-0 {\n                padding: 30px 15px 0 15px !important;\n            }\n\n\n            .text-footer {\n                text-align: center !important;\n            }\n\n            .fluid-img img {\n                width: 100% !important;\n                max-width: 100% !important;\n                height: auto !important;\n            }\n\n            .column-empty {\n                padding-bottom: 15px !important;\n            }\n\n        }\n    </style>\n</head>\n\n<body class=\"body\"\n      style=\"padding:0 !important; margin:0 !important; display:block !important; min-width:100% !important; width:100% !important; background:#1e52bd; -webkit-text-size-adjust:none;\">\n<table width=\"100%\" border=\"0\" cellspacing=\"0\" cellpadding=\"0\" bgcolor=\"#333333\" style=\"min-height: 100vh;\">\n    <tr>\n        <td style=\"padding:10px;\"></td>\n    </tr>\n    <tr>\n        <td align=\"center\" valign=\"top\">\n            <!-- Main -->\n            <table width=\"650\" border=\"0\" cellspacing=\"0\" cellpadding=\"0\" class=\"mobile-shell\">\n\n                <tr>\n                    <td class=\"td\"\n                        style=\"width:650px; min-width:650px; font-size:0pt; line-height:0pt; padding:0; margin:0; font-weight:normal;\">\n                        <!-- Header -->\n                        <table width=\"100%\" border=\"0\" cellspacing=\"0\" cellpadding=\"0\">\n                            <!-- Logo -->\n                            <tr>\n\n                                <td bgcolor=\"#ffffff\" class=\"img-center\"\n                                    style=\"padding: 2px; border-radius: 10px 10px 0px 0px; font-size:0pt; line-height:0pt; text-align:center;\">\n                                    <a href=\"#\" target=\"_blank\">\n                                        <img src=\"https://litislab.fr/assets/apps/litislab/logo2.png\" width=\"160\"\n                                             height=\"68\" editable=\"true\" border=\"0\" alt=\"\"/>\n                                    </a>\n                                </td>\n\n                            </tr>\n                            <!-- END Logo -->\n                            <!-- Title -->\n                            <tr>\n                                <td class=\"text-nav-white\" bgcolor=\"#1e52bd\"\n                                    style=\"color:#ffffff; font-family:'Roboto', Arial, sans-serif; font-size:12px; line-height:22px; text-align:center; text-transform:uppercase; padding:12px 0px; border: 5px solid #ffffff;\">\n                                    <span class=\"link-white\" style=\"color:#ffffff; text-decoration:none;\">Evenement à venir</span>\n                                </td>\n                            </tr>\n                            <!-- END Title -->\n                        </table>\n                        <!-- END Header -->\n\n                        <repeater>\n                            <!-- Incomming detail -->\n                            <table width=\"100%\" border=\"0\" cellspacing=\"0\" cellpadding=\"0\" bgcolor=\"#ebebeb\">\n\n                                <tr>\n                                    <td class=\"p30-15-0\" style=\"padding: 50px 30px 0px;\" bgcolor=\"#ffffff\">\n                                        <table width=\"100%\" border=\"0\" cellspacing=\"0\" cellpadding=\"0\">\n                                            <tr>\n                                                <td class=\"h2-center\"\n                                                    style=\"color:#000000; font-family:'Playfair Display', Times, 'Times New Roman', serif; font-size:32px; line-height:36px; text-align:center; padding-bottom:20px;\">\n                                                    Apperçu general !\n                                                </td>\n                                            </tr>\n                                            <tr>\n                                                <td class=\"text-center\"\n                                                    style=\"color:#5d5c5c; font-family:'Raleway', Arial,sans-serif; font-size:14px; line-height:22px; text-align:center; padding-bottom:22px;\">\n<!-------------------------------------------------- TODO: utiliser chatgpt -->\n                                                    Lorem ipsum dolor sit amet, consectetur\n                                                    adipisicing elit, sed do eiusmod tempor incididunt ut\n                                                    labore et dolore magna aliqua. Ut enim ad minim veniam,\n                                                    quis nostrud exercitation ullamco laboris nisi ut\n                                                    aliquip ex ea commodo conse.\n                                                </td>\n                                            </tr>\n                                            <tr>\n                                                <td align=\"center\" style=\"padding: 12px;\">\n                                                    <table border=\"0\" cellspacing=\"0\" cellpadding=\"0\">\n                                                        <tr>\n                                                            <td class=\"text-button-orange\"\n                                                                style=\"background:#1e52bd; color:#ffffff; font-family:'Kreon', 'Times New Roman', Georgia, serif; font-size:14px; line-height:18px; text-align:center; padding:10px 30px; border-radius:20px;\">\n\n                                                                <a href=\"#\" target=\"_blank\" class=\"link-white\"\n                                                                   style=\"color:#ffffff; text-decoration:none;\">\n                                                                            <span class=\"link-white\"\n                                                                                  style=\"color:#ffffff; text-decoration:none;\">Voir plus</span>\n                                                                </a>\n                                                            </td>\n                                                        </tr>\n                                                    </table>\n                                                </td>\n                                            </tr>\n                                        </table>\n                                    </td>\n                                </tr>\n                            </table>\n                            <!-- END Incomming detail -->\n\n                            <!-- Event List -->\n                            <table width=\"100%\" border=\"0\" cellspacing=\"0\" cellpadding=\"0\">\n                                <tr>\n                                    <td>\n                                        <table width=\"100%\" border=\"0\" cellspacing=\"0\" cellpadding=\"0\"\n                                               bgcolor=\"#dde8fd\">\n                                            <tr>\n                                                <td class=\"p0-15\" style=\"padding: 0 30px;\">\n                                                    <table width=\"100%\" border=\"0\" cellspacing=\"0\"\n                                                           cellpadding=\"0\">\n                                                        <tr>\n                                                            <td class=\"h2-center\"\n                                                                style=\"color:#000000; font-family:'Playfair Display', Times, 'Times New Roman', serif; font-size:32px; line-height:36px; text-align:center; padding-bottom:20px;\">\n                                                                Liste des evenements\n                                                            </td>\n                                                        </tr>\n                                                                {{$json.eList}}\n                                                       <!-- todo -->\n                                                    </table>\n                                                </td>\n                                            </tr>\n                                        </table>\n                                    </td>\n                                </tr>\n                            </table>\n\n                            <!-- END Event List -->\n\n                        </repeater>\n                        <!-- Footer -->\n                        <table width=\"100%\" border=\"0\" cellspacing=\"0\" cellpadding=\"0\">\n                            <tr>\n                                <td class=\"p30-15-0\" bgcolor=\"#ffffff\"\n                                    style=\"border-radius: 0px 0px 20px 20px; padding: 70px 30px 0px 30px;\">\n                                    <table width=\"100%\" border=\"0\" cellspacing=\"0\" cellpadding=\"0\">\n                                        <tr>\n                                            <td align=\"center\" class=\"p30-15\"\n                                                style=\"border-top: 1px solid #ebebeb; padding: 30px;\">\n                                                <table class=\"center\" border=\"0\" cellspacing=\"0\" cellpadding=\"0\"\n                                                       style=\"text-align:center;\">\n                                                    <tr>\n                                                        <th class=\"column-top\" width=\"180\"\n                                                            style=\"font-size:0pt; line-height:0pt; padding:0; margin:0; font-weight:normal; vertical-align:top;\">\n                                                            <table width=\"100%\" border=\"0\" cellspacing=\"0\"\n                                                                   cellpadding=\"0\">\n                                                                <tr>\n                                                                    <td class=\"text-footer\" style=\"color:#5d5c5c; font-family:'Raleway', Arial,sans-serif; font-size:13px; line-height:22px; text-align:left;\">\n                                                                        <strong>Brochures</strong><br/>\n                                                                        <a href=\"#\" target=\"_blank\" class=\"link-grey\" style=\"color:#5d5c5c; text-decoration:none;\">\n                                                                            <span class=\"link-grey\" style=\"color:#5d5c5c; text-decoration:none;\">Demande</span>\n                                                                        </a>\n                                                                        <br/>\n                                                                        <a href=\"#\" target=\"_blank\" class=\"link-grey\" style=\"color:#5d5c5c; text-decoration:none;\">\n                                                                            <span class=\"link-grey\" style=\"color:#5d5c5c; text-decoration:none;\">Voir en ligne</span>\n                                                                        </a>\n                                                                        <br/>\n                                                                        <a href=\"#\" target=\"_blank\" class=\"link-grey\" style=\"color:#5d5c5c; text-decoration:none;\">\n                                                                            <span class=\"link-grey\" style=\"color:#5d5c5c; text-decoration:none;\">Guide d&#39;utilisation</span>\n                                                                        </a>\n                                                                    </td>\n                                                                </tr>\n                                                            </table>\n                                                        </th>\n                                                        <th class=\"column-empty\" width=\"20\"\n                                                            style=\"font-size:0pt; line-height:0pt; padding:0; margin:0; font-weight:normal; direction:ltr;\"></th>\n                                                        <th class=\"column-top\" width=\"180\"\n                                                            style=\"font-size:0pt; line-height:0pt; padding:0; margin:0; font-weight:normal; vertical-align:top;\">\n                                                            <table width=\"100%\" border=\"0\" cellspacing=\"0\"\n                                                                   cellpadding=\"0\">\n                                                                <tr>\n                                                                    <td class=\"text-footer\"\n                                                                        style=\"color:#5d5c5c; font-family:'Raleway', Arial,sans-serif; font-size:13px; line-height:22px; text-align:left;\">\n                                                                        <strong>Besoin d'aide</strong><br/>\n                                                                        <a href=\"#\" target=\"_blank\"\n                                                                           class=\"link-grey\"\n                                                                           style=\"color:#5d5c5c; text-decoration:none;\"><span\n                                                                                class=\"link-grey\"\n                                                                                style=\"color:#5d5c5c; text-decoration:none;\">FAQ</span></a><br/>\n                                                                        <a href=\"#\" target=\"_blank\" class=\"link-grey\" style=\"color:#5d5c5c; text-decoration:none;\">\n                                                                            <span class=\"link-grey\" style=\"color:#5d5c5c; text-decoration:none;\">Contactez-nous</span>\n                                                                        </a><br/>\n                                                                    </td>\n                                                                </tr>\n                                                            </table>\n                                                        </th>\n                                                    </tr>\n                                                </table>\n                                            </td>\n                                        </tr>\n                                    </table>\n                                </td>\n                            </tr>\n                        </table>\n                        <table width=\"100%\" border=\"0\" cellspacing=\"0\" cellpadding=\"0\">\n                            <tr>\n                                <td class=\"text-footer2 p30-15\"\n                                    style=\"padding: 30px 15px 50px 15px; color:#a9b6e0; font-family:'Raleway', Arial,sans-serif; font-size:12px; line-height:22px; text-align:center;\">\n                                    <multiline>Vous n'arrivez pas à visualiser ce mail?</multiline>\n                                    <a href=\"http://tpe.localhost\" class=\"link-white\"\n                                       style=\"color:#ffffff; text-decoration:none;\">voir dans le navigateur\n                                    </a>\n                                </td>\n                            </tr>\n                        </table>\n                        <!-- END Footer -->\n                    </td>\n                </tr>\n            </table>\n            <!-- END Main -->\n\n        </td>\n    </tr>\n</table>\n</body>\n\n</html>"
      },
      "id": "87296d5f-ed42-47a3-aece-be5290d07e55",
      "name": "MailTemplate",
      "type": "n8n-nodes-base.html",
      "typeVersion": 1.2,
      "position": [
        1300,
        700
      ]
    },
    {
      "parameters": {
        "mode": "combine",
        "combinationMode": "multiplex",
        "options": {}
      },
      "id": "7d37fdb9-1bf9-4b10-adcf-9c0548bc7399",
      "name": "Merge1",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 2.1,
      "position": [
        920,
        880
      ]
    },
    {
      "parameters": {
        "jsCode": "for (const item of $input.all()) {\n  delete item.json.eList\n}\n\nreturn $input.all();"
      },
      "id": "6d34a59c-f35f-4f66-a87a-07307043cb8e",
      "name": "Code",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1280,
        880
      ]
    },
    {
      "parameters": {
        "mode": "combine",
        "combinationMode": "multiplex",
        "options": {}
      },
      "id": "2bb389f9-266e-4863-a089-39051d4d7b32",
      "name": "Merge2",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 2.1,
      "position": [
        1460,
        860
      ]
    }
  ],
  "connections": {
    "Summarization Chain": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When clicking \"Test workflow\"": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        null,
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 1
          },
          {
            "node": "EventList",
            "type": "main",
            "index": 0
          },
          {
            "node": "Summarization Chain",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Summarize1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Summarize1": {
      "main": [
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields1": {
      "main": [
        [
          {
            "node": "regrouperUser1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "regrouperUser1": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "MailTemplate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Email1": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "generateMsg1": {
      "main": [
        [
          {
            "node": "MailTemplate",
            "type": "main",
            "index": 0
          },
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "EventList": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "MailTemplate": {
      "main": [
        [
          {
            "node": "Merge2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge1": {
      "main": [
        [
          {
            "node": "generateMsg1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "Merge2",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge2": {
      "main": [
        [
          {
            "node": "Send Email1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {}
}