Utils/eventChecker/check.json
{
  "name": "check",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "seconds"
            }
          ]
        }
      },
      "id": "e4d143cc-f3c1-46d6-8f63-01bc340c60ec",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        540,
        260
      ]
    },
    {
      "parameters": {
        "url": "http://tpek.localhost/api/calendars",
        "options": {}
      },
      "id": "8551e71a-8d96-4465-9683-88a7427268ea",
      "name": "GetAllEvents",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        760,
        260
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=http://tpek.localhost/api/checkcalendar",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $json }}",
        "options": {}
      },
      "id": "5a7708b7-39e9-481f-90fe-a41722237a60",
      "name": "RetriveRemoteEvent",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1400,
        280
      ]
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "={\n  \"remote\": {{ $json }}\n}\n ",
        "options": {}
      },
      "id": "32af3407-d27c-46ac-8e7c-f1df6591f69a",
      "name": "WrapRemote",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.3,
      "position": [
        2180,
        220
      ]
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "={\n  \"local\": {{ $json }}\n}\n ",
        "options": {}
      },
      "id": "476237d9-f50f-4db2-aea5-e70f2df5d015",
      "name": "WrapLocal",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.3,
      "position": [
        2260,
        360
      ]
    },
    {
      "parameters": {
        "mode": "combine",
        "combinationMode": "multiplex",
        "options": {}
      },
      "id": "10e9278d-cda7-41f9-ab6c-2ea26891d15b",
      "name": "CombineEvent",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 2.1,
      "position": [
        2460,
        320
      ]
    },
    {
      "parameters": {
        "url": "=http://tpek.localhost/api/getevent/{{ $json.UID }}",
        "options": {}
      },
      "id": "a36f2bcf-c09c-4807-b790-168afa7c9338",
      "name": "RetriveLocal",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2100,
        360
      ]
    },
    {
      "parameters": {
        "content": "## Calendriers\n\nrécupérer tous les calendrier de la base de données\n\n",
        "height": 381.114824797845,
        "width": 578.2136927223729
      },
      "id": "d925a408-fd2f-4116-b46d-f946323054fd",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        700,
        140
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "10b800ff-698a-442a-954c-fa4f21b11d8e",
              "leftValue": "={{ $json.local.id }}",
              "rightValue": "",
              "operator": {
                "type": "number",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "47c7db36-b99d-44d3-b6d3-3bed3e633ce8",
      "name": "EventExist",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        2720,
        360
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "135ee19d-8b33-487e-ae85-59d7936a5276",
              "leftValue": "={{ $json.remote[\"LAST-MODIFIED\"] }}",
              "rightValue": "={{ $json.local.lastModified }}",
              "operator": {
                "type": "number",
                "operation": "notEquals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "6bf9126e-87ad-4598-a711-de2875f19cd5",
      "name": "EventChanged",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        3380,
        -120
      ]
    },
    {
      "parameters": {
        "method": "PUT",
        "url": "=http://tpek.localhost/api/updateEvent/{{ $json.local.id }}",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"startDateTime\": \"{{ $json.remote.DTSTART }}\",\n  \"endDateTime\": \"{{ $json.remote.DTEND }}\",\n  \"title\": \"{{ $json.remote.SUMMARY }}\",\n  \"location\": \"{{ $json.remote.LOCATION }}\",\n  \"description\": \"{{ $json.remote.DESCRIPTION }}\",\n  \"created\": \"{{ $json.remote.CREATED }}\",\n  \"lastModified\": \"{{ $json.remote['LAST-MODIFIED'] }}\",\n  \"status\": \"{{ $json.remote.STATUS }}\"\n}\n",
        "options": {}
      },
      "id": "e2fa86ea-fb0c-4daa-8962-2e25bd6d2392",
      "name": "updateLocal",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        4840,
        -420
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://tpek.localhost/api/setevent/nothing",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"uid\": \"{{ $json.remote.UID }}\",\n  \"startDateTime\": \"{{ $json.remote.DTSTART }}\",\n  \"endDateTime\": \"{{ $json.remote.DTEND }}\",\n  \"title\": \"{{ $json.remote.SUMMARY }}\",\n  \"location\": \"{{ $json.remote.LOCATION }}\",\n  \"description\": \"{{ $json.remote.DESCRIPTION }}\",\n  \"created\": \"{{ $json.remote.CREATED }}\",\n  \"lastModified\": \"{{ $json.remote['LAST-MODIFIED'] }}\",\n  \"calendarID\": \"{{ $json.remote.calendarID }}\",\n  \"status\": \"{{ $json.remote.STATUS }}\"\n}\n",
        "options": {}
      },
      "id": "8f3879ae-2fa9-4df4-aee8-6f1f04cf1a38",
      "name": "InsertEvent",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3020,
        380
      ]
    },
    {
      "parameters": {
        "html": "<!DOCTYPE html\n        PUBLIC \"-//W3C//DTD XHTML 1.0 Transitional//EN\" \"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd\">\n<html xmlns=\"http://www.w3.org/1999/xhtml\" lang=\"fr\">\n\n<head>\n    <!--[if gte mso 9]>\n    <xml>\n        <o:OfficeDocumentSettings>\n            <o:AllowPNG/>\n            <o:PixelsPerInch>96</o:PixelsPerInch>\n        </o:OfficeDocumentSettings>\n    </xml>\n    <![endif]-->\n    <meta http-equiv=\"Content-type\" content=\"text/html; charset=utf-8\"/>\n    <meta name=\"viewport\" content=\"width=device-width, initial-scale=1, maximum-scale=1\"/>\n    <meta http-equiv=\"X-UA-Compatible\" content=\"IE=edge\"/>\n    <meta name=\"format-detection\" content=\"date=no\"/>\n    <meta name=\"format-detection\" content=\"address=no\"/>\n    <meta name=\"format-detection\" content=\"telephone=no\"/>\n    <meta name=\"x-apple-disable-message-reformatting\"/>\n    <!--[if !mso]><!-->\n    <link\n            href=\"https://fonts.googleapis.com/css?family=Kreon:400,700|Playfair+Display:400,400i,700,700i|Raleway:400,400i,700,700i|Roboto:400,400i,700,700i\"\n            rel=\"stylesheet\"/>\n    <!--<![endif]-->\n    <title>Email Template</title>\n    <!--[if gte mso 9]>\n    <style type=\"text/css\" media=\"all\">\n        sup {\n            font-size: 100% !important;\n        }\n    </style>\n    <![endif]-->\n</head>\n\n<body class=\"body\"\n      style=\"padding:0 !important; margin:0 !important; display:block !important; min-width:100% !important; width:100% !important; background:#1e52bd; -webkit-text-size-adjust:none;\">\n<table width=\"100%\" border=\"0\" cellspacing=\"0\" cellpadding=\"0\" bgcolor=\"#333333\" style=\"min-height: 100vh;\">\n {{$json.eList}}                                       \n</table>\n</body>\n\n</html>"
      },
      "id": "a99cc877-3aa7-492c-89d8-62e1e0d3a469",
      "name": "MailTemplate",
      "type": "n8n-nodes-base.html",
      "typeVersion": 1.2,
      "position": [
        4800,
        420
      ]
    },
    {
      "parameters": {
        "html": "<tr>\n  <th> Modification de l'evenement </th>\n</tr>\n\n<tr>\n<td class=\"pb40\" style=\"padding-bottom:10px; background:red;\">\n<table width=\"100%\" border=\"0\" cellspacing=\"0\" cellpadding=\"0\">\n<tr>\n<td class=\"event-separator\" style=\"padding-bottom:10px; border-bottom:1px solid #ffffff;\">\n<table width=\"100%\" border=\"0\" cellspacing=\"0\" cellpadding=\"0\">\n<tr>\n<!-- Date de l'evenement -->\n<th width=\"60\" style=\"font-size:0pt; line-height:0pt; padding:0; margin:0; font-weight:normal; vertical-align:top;\">\n<table width=\"100%\" border=\"0\" cellspacing=\"0\" cellpadding=\"0\">\n<tr>\n<td class=\"date\" style=\"color:#000000; font-family:'Raleway', Arial,sans-serif; font-size:12px; line-height:16px; text-align:left; padding-bottom:6px;\">\n[month]\n</td>\n</tr>\n<tr>\n<td class=\"day\" style=\"color:#1e52bd; font-family:'Raleway', Arial,sans-serif; font-size:20px; line-height:25px; text-align:left; font-weight:bold;\">\n[day]\n</td>\n</tr>\n</table>\n</th>\n<!-- gap-->\n<th class=\"column-empty\" width=\"10\" style=\"font-size:0pt; line-height:0pt; padding:0; margin:0; font-weight:normal; direction:ltr;\">\n</th>\n\n<!-- Intitulé de l'evenement -->\n<th style=\"font-size:0pt; line-height:0pt; padding:0; margin:0; font-weight:normal; vertical-align:top;\">\n<table width=\"100%\" border=\"0\" cellspacing=\"0\" cellpadding=\"0\">\n<tr>\n<td class=\"h5-black black\" style=\"font-family:'Raleway', Arial,sans-serif; font-size:14px; line-height:18px; text-align:left; padding-bottom:10px; text-transform:uppercase; font-weight:bold; color:#000000;\">\n[title]\n</td>\n</tr>\n<tr>\n<td class=\"text black\"\nstyle=\"font-family:'Raleway', Arial,sans-serif; font-size:14px; line-height:18px; text-align:left; color:#000000;\">\n<span>[sHour][eHour]</span>&nbsp;&nbsp;&nbsp;\n<span style=\"font-weight:bold; margin-left:auto;\">[location]</span>\n</td>\n</tr>\n</table>\n</th>\n<!-- gap -->\n<th class=\"column-empty\"\nwidth=\"10\"\nstyle=\"font-size:0pt; line-height:0pt; padding:0; margin:0; font-weight:normal; direction:ltr;\">\n</th>\n</table>\n</td>\n</tr>\n</table>\n</td>\n  </tr>\n<tr>\n  <th>Nouvelle version :</th>\n</tr>\n<tr>\n  <td class=\"pb40\" style=\"padding-bottom:10px; background:green;\">\n<table width=\"100%\" border=\"0\" cellspacing=\"0\" cellpadding=\"0\">\n<tr>\n<td class=\"event-separator\" style=\"padding-bottom:10px; border-bottom:1px solid #ffffff;\">\n<table width=\"100%\" border=\"0\" cellspacing=\"0\" cellpadding=\"0\">\n<tr>\n<!-- Date de l'evenement -->\n<th width=\"60\" style=\"font-size:0pt; line-height:0pt; padding:0; margin:0; font-weight:normal; vertical-align:top;\">\n<table width=\"100%\" border=\"0\" cellspacing=\"0\" cellpadding=\"0\">\n<tr>\n<td class=\"date\" style=\"color:#000000; font-family:'Raleway', Arial,sans-serif; font-size:12px; line-height:16px; text-align:left; padding-bottom:6px;\">\n[2month]\n</td>\n</tr>\n<tr>\n<td class=\"day\" style=\"color:#1e52bd; font-family:'Raleway', Arial,sans-serif; font-size:20px; line-height:25px; text-align:left; font-weight:bold;\">\n[2day]\n</td>\n</tr>\n</table>\n</th>\n<!-- gap-->\n<th class=\"column-empty\" width=\"10\" style=\"font-size:0pt; line-height:0pt; padding:0; margin:0; font-weight:normal; direction:ltr;\">\n</th>\n\n<!-- Intitulé de l'evenement -->\n<th style=\"font-size:0pt; line-height:0pt; padding:0; margin:0; font-weight:normal; vertical-align:top;\">\n<table width=\"100%\" border=\"0\" cellspacing=\"0\" cellpadding=\"0\">\n<tr>\n<td class=\"h5-black black\" style=\"font-family:'Raleway', Arial,sans-serif; font-size:14px; line-height:18px; text-align:left; padding-bottom:10px; text-transform:uppercase; font-weight:bold; color:#000000;\">\n[2title]\n</td>\n</tr>\n<tr>\n<td class=\"text black\"\nstyle=\"font-family:'Raleway', Arial,sans-serif; font-size:14px; line-height:18px; text-align:left; color:#000000;\">\n<span>[2sHour][2eHour]</span>&nbsp;&nbsp;&nbsp;\n<span style=\"font-weight:bold; margin-left:auto;\">[2location]</span>\n</td>\n</tr>\n</table>\n</th>\n<!-- gap -->\n<th class=\"column-empty\"\nwidth=\"10\"\nstyle=\"font-size:0pt; line-height:0pt; padding:0; margin:0; font-weight:normal; direction:ltr;\">\n</th>\n</table>\n</td>\n</tr>\n</table>\n</td>\n</tr>"
      },
      "id": "09cb4c78-c0db-4212-9f5b-e76178f1e6af",
      "name": "EventList",
      "type": "n8n-nodes-base.html",
      "typeVersion": 1.2,
      "position": [
        4160,
        340
      ]
    },
    {
      "parameters": {
        "mode": "combine",
        "combinationMode": "multiplex",
        "options": {}
      },
      "id": "ed5a1b41-3f71-4ad9-a112-2c5fbd6a5f1a",
      "name": "Merge",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 2.1,
      "position": [
        3880,
        -60
      ]
    },
    {
      "parameters": {},
      "id": "469c1246-4173-4bc1-91d5-f458b0425d3b",
      "name": "No Operation, do nothing",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        4440,
        -140
      ]
    },
    {
      "parameters": {
        "mode": "chooseBranch"
      },
      "id": "df3f93d6-15d5-4078-8605-837fa5d11ca8",
      "name": "Merge2",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 2.1,
      "position": [
        4520,
        -420
      ]
    },
    {
      "parameters": {
        "content": "## Création\n\nA chaque fois qu'on détecte un événement qui figure pas dans notre base de données, on l'insert immédiatement a travers cette succession d’opération\n\n",
        "height": 413.8221024258774,
        "width": 620.733153638815,
        "color": 4
      },
      "id": "bb7f5579-4278-4a6a-aa30-a1c007a85b93",
      "name": "Sticky Note1",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        2660,
        180
      ]
    },
    {
      "parameters": {
        "content": "## Association des événements\n\nmettre l’événement récupéré depuis le calendrier distant côte à côte avec son équivalent de celui défini dans la base de donnée s'il existe ",
        "height": 395.4923989218328,
        "width": 598.1446900269544,
        "color": 2
      },
      "id": "0f55b431-8211-418e-83cb-e2204f53cb3d",
      "name": "Sticky Note2",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        2000,
        180
      ]
    },
    {
      "parameters": {
        "content": "## Événements\n\nrécupérer tous les événements de chaque calendriers trouver depuis la base de données\n",
        "height": 372.93800539083685,
        "width": 566.7661455525613
      },
      "id": "02688f64-2e65-4490-b451-c429c710562f",
      "name": "Sticky Note3",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1380,
        200
      ]
    },
    {
      "parameters": {
        "url": "=http://tpek.localhost/api/getSubscribers/{{ $json.local.calendarID }}",
        "options": {}
      },
      "id": "f0b568c6-b8ff-4822-9da7-d43da14a83cd",
      "name": "getSubscribers",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3680,
        -100
      ]
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "4422e464-6d98-4b43-83ea-d2c45052cca5",
      "name": "LoopOverSubscribers",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        4060,
        -60
      ]
    },
    {
      "parameters": {
        "fromEmail": "=contact@baldazi.com",
        "toEmail": "={{ $json.email }}",
        "subject": "Newletters",
        "html": "={{ $json.html }}",
        "options": {
          "appendAttribution": false
        }
      },
      "id": "b5421617-e3de-4c25-ae80-b07605cdd03a",
      "name": "SendChange",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [
        4340,
        0
      ],
      "credentials": {
        "smtp": {
          "id": "qidy4uYU2MY3srwd",
          "name": "SMTP account"
        }
      }
    },
    {
      "parameters": {},
      "id": "74efc2c0-06d7-4173-8e60-0c111a93c382",
      "name": "No Operation, do nothing2",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        1120,
        160
      ]
    },
    {
      "parameters": {
        "jsCode": "function splitDateTime(dateTime) {\n    // Vérifie si la chaîne contient un 'T' ou un espace qui sépare la date et l'heure\n    let separator = dateTime.includes('T') ? 'T' : (dateTime.includes(' ') ? ' ' : null);\n    \n    // Si un séparateur est trouvé, sépare en deux parties : date et heure\n    if (separator) {\n        return dateTime.split(separator);\n    } else {\n        // Si pas de séparateur trouvé, retourne seulement la date et une chaîne vide pour l'heure\n        return [dateTime, ''];\n    }\n}\n\nfunction formatDate(dateString) {\n  const formattedDate = `${dateString.slice(0, 4)}-${dateString.slice(4, 6)}-${dateString.slice(6, 8)}`;\n  return formattedDate;\n}\n\nfunction formatTime(timeString) {\n  const formattedTime = `${timeString.slice(0, 2)}:${timeString.slice(2, 4)}`;\n  return formattedTime;\n}\n\n\n\nlet lst = [];\nfor (const item of $input.all()) {\n  let [sd, st] = splitDateTime(item.json.remote.DTSTART);\n  let [ed, et] = splitDateTime(item.json.remote.DTEND);\n  item.json.remote.startDate = formatDate(sd);\n  item.json.remote.startTime = formatTime(st);\n  item.json.remote.endDate = formatDate(ed);\n  item.json.remote.endTime = formatTime(et);\n\n  [sd, st] = splitDateTime(item.json.local.startDateTime);\n  [ed, et] = splitDateTime(item.json.local.endDateTime);\n  item.json.local.startDate = formatDate(sd);\n  item.json.local.startTime = formatTime(st);\n  item.json.local.endDate = formatDate(ed);\n  item.json.local.endTime = formatTime(et);\n  \n  lst.push(item);\n}\n\nreturn lst;"
      },
      "id": "70fdc8cf-dfa5-4500-ae00-c6dbae367774",
      "name": "SplitDateTime",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3920,
        440
      ]
    },
    {
      "parameters": {
        "mode": "combine",
        "combinationMode": "multiplex",
        "options": {}
      },
      "id": "6cfdefdf-8769-4acd-a1a0-3a075d6e3ea8",
      "name": "MergeEventAndTemplate",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 2.1,
      "position": [
        4380,
        420
      ]
    },
    {
      "parameters": {
        "jsCode": "for (const item of $input.all()) {\n  let e = item.json.local;\n    eRow = item.json.html;\n    date = new Date(e.startDate);\n    if (e.startDate != e.endDate && e.startTime.length != 0) {\n      secondDate = new Date(e.endDate);\n      eRow = eRow.replace('[day]', date.getDate()+\"-\"+secondDate.getDate());\n    } else{\n      eRow = eRow.replace('[day]', date.getDate());\n    }\n    eRow = eRow.replace('[title]', e.title);\n    eRow = eRow.replace('[month]', date.toLocaleString('fr', { month: 'short' }));\n    eRow = eRow.replace('[sHour]', e.startTime.length==0?\"[Toute la journée]\":e.startTime.slice(0, 5)+\" - \");\n    eRow = eRow.replace('[eHour]', e.endTime.slice(0, 5));\n    eRow = eRow.replace('[location]', e.location);\n\n  e = item.json.remote;\n    \n    date = new Date(e.startDate);\n    if (e.startDate != e.endDate && e.startTime.length != 0) {\n      secondDate = new Date(e.endDate);\n      eRow = eRow.replace('[2day]', date.getDate()+\"-\"+secondDate.getDate());\n    } else{\n      eRow = eRow.replace('[2day]', date.getDate());\n    }\n    eRow = eRow.replace('[2title]', e.SUMMARY);\n    eRow = eRow.replace('[2month]', date.toLocaleString('fr', { month: 'short' }));\n    eRow = eRow.replace('[2sHour]', e.startTime.length==0?\"[Toute la journée]\":e.startTime.slice(0, 5)+\" - \");\n    eRow = eRow.replace('[2eHour]', e.endTime.slice(0, 5));\n    eRow = eRow.replace('[2location]', e.LOCATION);\n  \n   let eList = eRow;\n\n   lst = {uuid:Date.now(), summary:item.json.summary, email:item.json.email, userID:item.json.id,eList};\n}\n\nreturn lst;\n"
      },
      "id": "efbc216d-570b-4365-b53a-a28769c7de99",
      "name": "EventListTemplate",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        4600,
        420
      ]
    },
    {
      "parameters": {
        "content": "## Notifier les changements\nenvoyer un email pour informer les abonnées de la modification de l’événement.\n_nous avant pas spécifier ce qui a changé dans les caractéristiques de l'événement_.",
        "height": 420.0228571428577,
        "width": 779.6700808625337,
        "color": 6
      },
      "id": "56734bc1-591d-414c-ae5a-2f5f40c624ef",
      "name": "Sticky Note4",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        3860,
        -220
      ]
    },
    {
      "parameters": {
        "content": "## Générer le message",
        "height": 392.2216711590297,
        "width": 1195.052506738545,
        "color": 2
      },
      "id": "95cc1bf5-42c6-41e7-9593-18c75a5cb30b",
      "name": "Sticky Note5",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        3840,
        260
      ]
    },
    {
      "parameters": {
        "content": "## Mise à jour\n__Mettre à jour l'événement dans la base de données__. _il est important d'effectuer cette opération après l'envoi du mail au abonnées_. ",
        "height": 263.02792452830187,
        "width": 621.0397843665772,
        "color": 5
      },
      "id": "3e488886-73fd-454a-a69e-d57b2ee9441f",
      "name": "Sticky Note6",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        4420,
        -480
      ]
    },
    {
      "parameters": {
        "options": {
          "reset": false
        }
      },
      "id": "237578e4-fdc1-4e3a-9216-16c74d4d6a2e",
      "name": "LoopOverCalendars",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        920,
        260
      ]
    },
    {
      "parameters": {
        "options": {
          "reset": false
        }
      },
      "id": "c64064be-304d-48d6-8de6-e2cdaf2484a1",
      "name": "LoopOverEvent",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        1740,
        280
      ]
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "GetAllEvents",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GetAllEvents": {
      "main": [
        [
          {
            "node": "LoopOverCalendars",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "RetriveRemoteEvent": {
      "main": [
        [
          {
            "node": "LoopOverEvent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "WrapRemote": {
      "main": [
        [
          {
            "node": "CombineEvent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "CombineEvent": {
      "main": [
        [
          {
            "node": "EventExist",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "RetriveLocal": {
      "main": [
        [
          {
            "node": "WrapLocal",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "EventExist": {
      "main": [
        [
          {
            "node": "EventChanged",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "InsertEvent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "EventChanged": {
      "main": [
        [
          {
            "node": "SplitDateTime",
            "type": "main",
            "index": 0
          },
          {
            "node": "getSubscribers",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "LoopOverEvent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "WrapLocal": {
      "main": [
        [
          {
            "node": "CombineEvent",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "updateLocal": {
      "main": [
        [
          {
            "node": "LoopOverEvent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "InsertEvent": {
      "main": [
        [
          {
            "node": "LoopOverEvent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "EventList": {
      "main": [
        [
          {
            "node": "MergeEventAndTemplate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "MailTemplate": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "LoopOverSubscribers",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "No Operation, do nothing": {
      "main": [
        [
          {
            "node": "Merge2",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge2": {
      "main": [
        [
          {
            "node": "updateLocal",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "getSubscribers": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "LoopOverSubscribers": {
      "main": [
        [
          {
            "node": "No Operation, do nothing",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "SendChange",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SendChange": {
      "main": [
        [
          {
            "node": "LoopOverSubscribers",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SplitDateTime": {
      "main": [
        [
          {
            "node": "MergeEventAndTemplate",
            "type": "main",
            "index": 1
          },
          {
            "node": "EventList",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "MergeEventAndTemplate": {
      "main": [
        [
          {
            "node": "EventListTemplate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "EventListTemplate": {
      "main": [
        [
          {
            "node": "MailTemplate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "LoopOverCalendars": {
      "main": [
        [
          {
            "node": "No Operation, do nothing2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "RetriveRemoteEvent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "LoopOverEvent": {
      "main": [
        [
          {
            "node": "LoopOverCalendars",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "RetriveLocal",
            "type": "main",
            "index": 0
          },
          {
            "node": "WrapRemote",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "89af32df-8154-45bf-9807-ad9d6612df72",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "e6178e31b92262345ecf2f0a17159959f45573502caa21e54a04b0826136c197"
  },
  "id": "DzchQbtpTBPzgOMl",
  "tags": []
}